.titleHeader {
    display: flex;
    vertical-align: center;
    height: 80px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3445DB;
}

.welcome {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    height: 100%;
}

.income-input {
    margin: auto;
    width: 70%;
    height: 90%;
    color: white;
    padding-top: 15px;
}

.income {
    padding-right: 10px;
}



.logout {
    float: right;
}

.logout a {
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
}

    .logout a:hover {
        background-color: #34DBCA;
    }
    
.add-btn {
    width: 120px;
}

.logout a h2 {
    display: block;
    padding: 18px 16px;
    height: 100%;
}