<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {%  block head %}
    <title>BlueberryFinance</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {%  endblock %}
</head>
<body>
    <div class="dash-header">
        <ul>
            <li>
                {% if session['logged_in'] %}
                <h2>Hello {{ username }}!</h2>
                {% else %}
                <h2>Not logged in!</h2>
                {% endif %}
            </li>
            <li style="float:unset" id="month">
                <h2>
                    <script>
                        month = new Date().getMonth();

                        document.write(month);
                    </script>
                </h2>
            </li>
            <li style="float:right" id="logout">
                {% if session['logged_in'] %}
                <h2><a href="/logout">Log out.</a></h2>
                {% else %}
                <a href="/"><h2>Go back.</h2></a>
                {% endif %}
            </li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>