<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {%  block head %}
    <title>BlueberryFinance</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {%  endblock %}
</head>
<body>
    <div class="dash-header">
        <ul>
            <li>
                {% if session['logged_in'] %}
                    <h2>Hello {{ username }}!</h2>
                {% else %}
                    <h2>Not logged in!</h2>
                {% endif %}
            </li>
            <li style="float:right" id="logout">
                {% if session['logged_in'] %}
                    <h2><a href="/logout">Log out.</a></h2>
                {% else %}
                    <h2><a href="/">Go back.</a></h2>
                {% endif %}
            </li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>