{%  extends "baseLayout.html" %}
{% block content %}
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='css/loginRegister.css') }} type="text/css">
    </head>
    {% if session['logged_in'] %}
        <p>You're logged in already!</p>
    {% else %}
         <div class="header" style="padding-bottom:20px">
            <h1>Welcome to Blueberry Finance!</h1>
        </div>

        <form action="/login" method="POST">
            <div class="login register">
                <div class="screen">
                    <div class="app-title">
                        <h1>Log In</h1>
                    </div>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="flashes">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}

                    <div class="input-form">
                        <div class="control-group">
                            <input type="text" class="login-field" value="" placeholder="username" name="username">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>

                        <div class="control-group">
                            <input type="password" class="login-field" value="" placeholder="password" name="password">
                            <label class="login-field-icon fui-lock" for="login-pass"></label>
                        </div>

                        <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
                    </div>
                </div>
            </div>
            <h2>Need a new account?</h2>
            <h2><a href="/registration">Register</a></h2>
        </form>
    {% endif %}
{% endblock %}