{%  extends "baseLayout.html" %}
{% block content %}


    <div class="main-content">
        Hello world!
        <!--<div class="transaction-window"> -->

            <table border ="0" cellpadding = "0" width = "100%" class="scrollTable">
                <thead class ="fixedHeader">
                    <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Edit</th>
                 </tr>
             </thead>
                <tbody>
                    <!--{% if transaction_list > [] %}-->
                    {% for trans in transaction_list %}
                    <tr>
                        <th>{{trans[0]}}</th>
                        <th>{{trans[1]}}</th>
                        <th>{{trans[3]}}</th>
                        <th>{{trans[2]}}</th>
                        <th>{{trans[4]}}</th>
                        <th><button>edit</button></th>
                    </tr>
                    {% endfor %}
                    <!--{% endif %}-->
            </tbody>

            </table>
    <!--    </div> -->
        <p>Enter transaction details.</p>
        <form action="/add_transaction" method="POST">
            Description: <input type="text" name="transaction_description"><br>
            Amount:       <input type="text" name="transaction_amount"><br>
            Date : <input type="date" name="transaction_date"><br>
            Category: <select name="transaction_category">
                <option value="uncategorized">Uncategorizied</option>
                <option value="food">Food</option>
                <option value="auto">Auto</option>
            </select>
            <button type="submit">Submit Transaction</button>
        </form>
        <form action = "remove_transaction" method ="POST">
            ID: <input type ="text" name="id"><br>
            <button type="submit">Delete this transaction</button>
        </form>
    </div>

{% endblock %}