{%  extends "baseLayout.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
<div class="flashes">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
        {% endif %}
    {% endwith %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href={{ url_for('static', filename='css/transactionEditor.css') }} type="text/css">
<div class="main-content">

    <div class="visualizations">
        <h3>Insert visualizations here</h3>
    </div>

    <div class="sub-window">
        <h2>Transactions</h2>
        <div class="column-header">
            <h3 style="width: 25%">Date</h3>
            <h3 style="width: 22%">Description</h3>
            <h3 style="width: 18%">Amount</h3>
            <h3 style="width: 20%">Category</h3>
        </div>

        <form action="/add_transaction" method="POST">
            <div class="addTransactionHeader">
                <div class="date"><input type="date" name="transaction_date" placeholder="Date" style="border-radius: 0"></div>
                <div class="descrip"><input type="text" name="transaction_description" placeholder="Description" style="border-radius: 0"></div>
                <div class="amount"><input type="text" name="transaction_amount" placeholder="Amount" style="border-radius: 0"></div>
                <div class="cat">
                    <select name="transaction_category" placeholder="Category" style="width: 100%; height: 100%; background-color: #ECF0F1; border: none">

                        {% for category in category_list %}
                        <option value="{{category[0]}}">{{category[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="add"><input type="submit" value="Add" class="inline-submit"></div>
            </div>
        </form>
        <table class="scrollTable">
            {% if transaction_list > [] %}
            {% for trans in transaction_list %}
                <!-- This is where the modal is   -->
                <div id="Transaction-Edit-{{trans[0]}}" class="modal">
                    <div class="modal-content">
                        <div class="edit-transaction-window">
                            <h1 style="margin-top:5px"> Transaction Editor</h1>
                            <div class = "edit-transaction-form">
                                <h2>Add Transaction</h2>
                                <form action ="/edit_transaction?id={{trans[0]}}" method ="POST">
                                    <p>Description: </p><input type="text" name="transaction_description" value="{{trans[3]}}">
                                    <p>Amount: </p><input type="text" name="transaction_amount" value="{{trans[2]}}">
                                    <p>Date: </p><input type="date" name="transaction_date" value="{{trans[4]}}">
                                    <p>Category: </p>
                                    <select name = "transaction_category">
                                            {% for category in category_list %}
                                            <option value="{{category[0]}}">{{category[1]}}</option>
                                            {% endfor %}
                                    </select>
                                    <a href="/"><input type="button" value="Cancel" class="btn btn-primary btn-large btn-block cancel" style="height: auto; float: left; width: 40%"></a>
                                    <input type="submit" value="Confirm" class="btn btn-primary btn-large btn-block" style="height: auto; float: right; width: 40%">  
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of modal -->
                <tr class="transaction">
                    <td style="width: 23%">{{trans[4]}}</td>
                    <td style="width: 27%">{{trans[3]}}</td>
                    <td style="width: 19%">{{trans[2]}}</td>
                    {% for category in category_list %}
                    {% if trans[1] | int == category[0] %}
                    <td style="width: 20%">{{category[1]}}</td>
                    {% endif %}
                    {% endfor %}
                    <!--Edit requires a modal for data before going to "edit_transaction(...)"-->
                    <td><button onclick="document.getElementById('Transaction-Edit-{{trans[0]}}').style.display='block'"><img src= "http://hddfhm.com/images/cartoon-pencil-clipart-17.png" width=20></img></button></td>
                    <td><a href="remove_transaction?id={{ trans[0] }}"><img src="https://cdn2.iconfinder.com/data/icons/round-interface-1/217/50-512.png" alt="Delete" height="24" width="24"></a></td>
                </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>

    <div class="visualizations">
        <h3>Insert expected visualizations here</h3>
    </div>
    <div class="sub-window">
        <h2>Categories</h2>
        <table class="scrollTable">
            <form action="/add_category" method="POST">
                <tr>
                    <td style="width: 40%"><input type="text" name="category_name" placeholder="Name"></td>
                    <td style="width: 40%"><input type="text" name="category_value" placeholder="Budget"></td>
                    <td style="width: 20%"><input type="submit" value="Add" class="btn btn-primary btn-large btn-block" style="height:auto"></td>
                </tr>
            </form>
            {% if category_list > [] %}
            {% for cat in category_list %}

            <div id= "category-edit-{{cat[0]}}" class="modal">
                <div class="modal-content">
                    <div class="edit-transaction-window">
                        <h1 style="margin-top:5px">Category Editor</h1>
                        <div class = "edit-transaction-form">
                            <h2> Add Category</h2>
                            <form action="/edit_category?id={{cat[0]}}" method ="POST">
                                
                                <p>Category: </p><input type="text" name="category_name" value="{{cat[1]}}">
                                <p>Budget: </p><input type="text" name="category_value" value="{{cat[2]}}">
                                <a href="/"><input type="button" value="Cancel" class="btn btn-primary btn-large btn-block cancel" style="height: auto; float: left; width: 40%"></a>
                                <input type="submit" value="Confirm" class="btn btn-primary btn-large btn-block" style="height: auto; float: right; width: 40%">  
                            </form>
                        </div>
                    </div>
                    <tr class="transaction">
                        <td>{{cat[1]}}</td>
                        <td>{{cat[2]}}</td>
                        <!--Edit requires a modal for data before going to "edit_category(...)"-->
                        {% if not cat[0] == category_list[0][0] %}
                        <td><button onclick="document.getElementById('category-edit-{{cat[0]}}').style.display='block'"><img src= "http://hddfhm.com/images/cartoon-pencil-clipart-17.png" width=20></img></button></td>
                        <td><a href="/remove_category?id={{ cat[0] }}"><img src="https://cdn2.iconfinder.com/data/icons/round-interface-1/217/50-512.png" alt="Delete" height="24" width="24"></a></td>
                        {% endif %}
                    </tr>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}